/* Component enclosing tag */
.Contact {
    padding: 1em;
    background: #555;
    width: 220px;
    display: flex;
    align-items: center;
  }
  
  /* Contact image */
  .Contact .avatar {
    border-radius: 50%;
    margin-right: 1em;
    width: 48px;
    height: 48px;
  }
  
  /* Name */
  .Contact .name {
    margin: 0 0 0.25rem;
    color: #eee;
  }
  
  /* Status text */
  .Contact .status .status-text {
    color: #999;
    margin: 0;
  }
  
  /* Status (rounded&colored indicator) */
  .Contact .status .status-online,
  .Contact .status .status-offline {
    display: inline-block;
    border-radius: 50%;
    width: 8px;
    height: 8px;
    margin-right: 6px;
  }
  
  .Contact .status .status-online {
    background: #aed581;
  }
  
  .Contact .status .status-offline {
    background: #f4511e;
  }


  .strangerthings {
    display: flex;
    margin: 0px 20px 0px 20px;

}
.status{
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
}

.status-online, .status-offline {
    margin: 0.5em;
} 
